
a{
font-size:25px;
padding-right:50px;
text-decoration:none;
color:white;
font-family:italic;
}
a:hover{
text-decoration:none;
color:blue;
}
.navbar{
border:1px solid black;
background-color:black;
}
p{
font-size:25px;
}
.pic{
background-size: 3800px 2000px;
background-repeat: no-repeat;
background-position: top;
background-attachment: fixed;
}
p,h1{color:aqua;}
border 1px solid black;
display:inline-block;
}
i{color:black}

.one {
padding-right:30px;
padding-top:90px;

}

.two{
padding-right:30px;
padding-top:90px;

}
.three{
padding-right:30px;
padding-top:90px;