body{
background-color:aqua;
}
a{
font-size:25px;
padding-right:50px;
text-decoration:none;
color:white;
font-family:italic;
}
a:hover{
text-decoration:none;
color:blue;
}
.navbar{
border:1px solid black;
background-color:black;
}
p{
font-size:25px;
}
.pic{
border 1px solid black;
display:block;
text-align:center;
}
img{
text-align:center;
}